body{
    background-color: aquamarine;
}
.container{
    background-color: darkblue;
    height: 100vh;
}
.row{
    background-color: orange;
    height: 100vh;
}
.colBox{
    background-color: rgb(85, 156, 156);
    height: 100vh;
    border: 1px solid black;
}
.forinline{
    background-color: blueviolet;
    width: 825px;
    height: 565px;
    align-items:center ;
  
}

.fila{
    height: 95px;
    display: flex;
    
}
.boton{
    width: 90px;
    height: 90px;
    background-color: grey;
    margin-right: 15px;
    margin-left: 15px;
   

border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;

border-color: black;
    
}

.info{
    text-align: center;
}
.background{
    background-color: azure;
}